<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Yolo Cups</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <link href="../static/img/favicon.png" rel="icon" type="image/x-icon" />
</head>
<body>
	<h1>Yolo Cups</h1>
    <div class="catz"></div>
	<div class="wrapper">
		  
    		
            <form action="/uploads" method="POST" enctype="multipart/form-data">
            <div class="fileUpload btn btn-primary">
            <span>Choose File</span>
    		  <input type=file class="upload" accept="image/gif, image/jpeg, image/png" name="file"/>
            </div>
            <div class="fileUpload btn btn-primary">
              <input type=submit value=Upload />
            </div>
            </form>
		
	</div>
	<img id="blah" src="#" alt="your image" />
	<footer>Made with ❤ by <a href="http://www.github.com/mrecachinas" target="_">mrecachinas</a>, <a href="http://www.github.com/gottagitgit" target="_">gottagitgit</a>, <a href="http://www.github.com/jb6zb" target="_">jb6zb</a><br><!-- Want a <a href="demo">demo</a>? Want the <a href="theory">theory</a>? --></footer>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>